.ProductPreview {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: repeat(6, 100px);
  grid-gap: 10px;

  &.ProductPreview_isSingleImage {
    display: block;
  }

  &-Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;

    &_isActive {
      grid-area: 1 / 2 / -1 / -1;
    }
  }

  @media screen and (max-width: 1024px) {
    grid-gap: 5px;
  }
}

